@import './styles/colors';

.Game {
  text-align: center;
  overflow: hidden;
}

.scriptureBtn {
  width: 100%;
font-size: 35px;
padding: 25px 75px;
background: $red;
color: $white;
border-radius: 25px;
border: 8px solid $white;
}

#mybutton {
    position: fixed;
    bottom: 17%;
    left: 70%;
}

ul  {
  list-style: none;
}
