@import './styles/colors';

.Game {
  text-align: center;
}

.scriptureBtn {
// width: 100%;
font-size: 35px;
padding: 35px 90px;
background: $red;
color: $white;
border: none;
border-radius: 5px;
}

#mybutton {
    position: fixed;
    bottom: 15%;
    left: 69%;
}

ul  {
  list-style: none;
}
