    .App {
    font-family: 'Concert One', cursive;
    line-height: 1.6;
    font-size: 25px;

    background-image: url("./Image/rainbow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 110vh;
    overflow: hidden;
    }