@import './styles/colors';

.Navbar {
  background: $pink;
}

.brand-style {
  font-size: 35px;
}

.logout-button{
  background: $blue;
  width: 145px;
  font-size: 22px;
  border-radius: 28px;
  border-radius: 25px;
}

.logout-button:hover{
  background: $yellow;
}

.login-button {
  margin-right: 25px;
  background: $blue;
  width: 145px;
  font-size: 22px;
  border-radius: 28px;
}

.login-button:hover {
  background: $yellow;
}